@font-face{
    src: url('../fonts/Myriad Pro Bold.otf');
    font-family: 'Myriad Pro Bold';
}
@font-face{
    src: url('../fonts/Lato-Thin.ttf');
    font-family: 'Lato Thin';
}
@font-face{
    src: url('../fonts/Lato-Heavy.ttf');
    font-family: 'Lato Heavy';
}
@font-face{
    src: url('../fonts/Lato-Light.ttf');
    font-family: 'Lato Light';
}
body, html{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a{
    color:#fff;
}
a:hover{
    color:#fff;
}
.content-block,
.tab-pane{
    padding: 100px 0px;
}
.section-title{
    font-weight: bold;
    font-size:24px;
    text-align: center;
    margin-bottom: 30px;
}
.section-description{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size: 16px;
}
.full-height-header{
    height: 100vh;
    position: relative;
    background:url('../img/headerbg.jpg');
    background-attachment: fixed;
    z-index: 0;
}
.full-height-header .container{
    height: 100%;
    z-index: 2;
}
.full-height-header:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, .8);
}

.navbar{
    padding: 0;
    border-bottom: 1px solid #29292b;
}
.nav-link{
    padding: 30px 0px;
    color:#fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.nav-link:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.nav-item{
    margin-right:30px;
}
.nav-item:last-child{
    margin-right: 0;
}

.header-title{
    margin-top: 300px;
}
.header-text{
    font-family: 'Myriad Pro Bold';
    font-size:72px;
    font-weight: bold;
}
.header-slogan{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.header-text,
.header-slogan{
    color:#fff;
    text-align: center;
}

.nav-tabs .nav-item{
    margin: 0;
    border:none;
    position: relative;
}
.nav-tabs .nav-link{
    background-color: #21424a;
    border:none;
    padding: 65px 0px;
    font-size:22px;
    font-weight:bold;
    border-radius: 0px;
    text-transform: uppercase;
}
.nav-item svg{
    position: absolute;
    top: 0;
    right: -30px;
    z-index: 1;
}
.nav-item svg.triangle-on{
    display:none;
}
.nav-tabs .nav-link:hover ~ svg.triangle-on,
.nav-tabs .nav-link:active ~ svg.triangle-on,
.nav-tabs .nav-link:focus ~ svg.triangle-on{
    display: block;
}
.nav-tabs .nav-link:hover ~ svg.triangle-off,
.nav-tabs .nav-link:active ~ svg.triangle-off,
.nav-tabs .nav-link:focus ~ svg.triangle-off{
    display:none;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:active,
.nav-tabs .nav-link:focus{
    background-color: #2fac6c;
    border-radius: 0px;
    color:#fff;
}

.form-inline{
    border: 1px solid #d9d9d9;
    color:#cecece;
    margin-bottom: 40px;
}
.form-inline [class^="col"]{
    padding: 0;
}
.form-inline [class^="col-"] .form-control{
    width: 100%;
    border:none;
    background-color: none;
}
.form-inline [class^="col-"] .form-control:focus,
.form-inline [class^="col-"] .form-control:active{
    outline: none;
    border:none;
    box-shadow: none;
}
.form-inline .w3-span{
    padding: 0 15px;
    border-right:1px solid #d9d9d9;
}

.form-inline .domain{
    border-left:1px solid #d9d9d9;
}

.domain select{
    background: none;
    border:none;
    padding:0px 15px;
    color:#cecece;
}

.wrapper{
    max-width: 81%;
    margin: 0 auto;
}
.price-list{
    padding: 26px;
    border: 1px solid #cecece;
}
.price-list .info-item{
    text-align: center;
    padding: 6px;
    position: relative;
}

.price-list .info-item:before{
    content:'';
    position: absolute;
    width: 93%;
    height: 100%;
    left:1px;
    top: 0;
    border-bottom:1px solid #cecece;
}
.price-list .net-price .info-item:before{
    border:none;
}
.price-list .info-item .inner-container{
    padding: 23px;
    border-right:1px solid #cecece;
    position: relative;
    color:#cbcbcb;
    font-size:14px;
}
.price-list .info-item:last-child .inner-container{
    border:none;
}

section.packages{
    background: url('../img//sectionbg1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    z-index: -2;
}
.container{
    padding: 0;
}
.packages .container{
    padding: 100px 0;
    border-bottom: 1px dashed #b4b4b4;
    z-index: 0;
}
.packages:before,
.packages:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #fff;
}

.package-item{
    background-color: #fff;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 10px 0 rgba(128, 128, 128, .5);
}
.package-item .slider{
    height: 50px;
    width: 50px;
    position: relative;
    margin-bottom: 20px;
}

.package-item .slider .fa{
    position: absolute;
    top: 33%;
    left: 36%;
}

.package-item .slider .fa-diamond{
    left: 33%;
}

.package-item .slider .fa-anchor,
.basic-package .description span:last-child{
    color:#fcb03c;
}

.package-item .slider .fa-star-half-empty,
.normal-package .description span:last-child{
    color:#7f8c8d;
}

.package-item .slider .fa-star,
.big-package .description span:last-child{
    color:#f85f40;
}

.package-item .slider .fa-diamond,
.biggest-package .description span:last-child{
    color:#21be9f;
}

.package-item .description span:first-child{
    color:#b4b4b4;
}

.basic-package .price-section .divider{
    border-color:#fcb03c;
}

.normal-package .price-section .divider{
    border-color:#7f8c8d;
}

.big-package .price-section .divider{
    border-color:#f85f40;
}

.biggest-package .price-section .divider{
    border-color:#21be9f;
}
.functions .fast-servers .icon{
    background: #fcb03c;
}
.functions .cloud-servers .icon{
    background: #0faff1;
}
.functions .domain-transfer .icon{
    background: #95a5a6;
}
.functions .live-support .icon{
    background: #f1540f;
}
.package-item button{
    background: none;
    border: none;
}
.package-item .divider{
    width:100px;
    margin-top: 5px;
    border-top-width: 3px; 
}
.package-item .price{
    font-size: 28px;
    font-weight: bold;
}
.package-item .price sup{
    font-size:16px;
    font-family: 'Lato Heavy', sans-serif;
}
.package-item .price sub{
    font-size:13px;
    font-weight: normal;
}

.about-us .about-text{
    border-right: 1px dashed #b4b4b4;
    padding-right:100px;
    color: #747474;    
}
.about-text p{
    font-size:18px;
    font-family: 'Lato Thin';
}
.about-us .about-team{
    padding-left: 100px;
}

.about-us .about-team .team-item{
    margin-right:86px;
}
.about-us .about-team .team-item:last-child{
    margin-right: 0;
}

.about-us .about-team .team-item .name,
.about-us .about-team .team-item .status{
    display: block;
    text-align: center;
}
.about-us .about-team .team-item .name{
    font-size:17px;
}
.about-us .about-team .team-item .status{
    font-size:15px;
    color: #8e8e8e;
    margin: 5px 0px;
}
.about-us .about-team .avatar{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    border:5px solid #e5e5e5;
}
.about-us .about-team .avatar-1{
    background-image: url('../img/team/team-member-1.jpg');
    background-position: center;
    background-size: cover;
}
.about-us .about-team .avatar-2{
    background-image: url('../img/team/team-member-2.jpg');
    background-position: center;
    background-size: cover;
}
.about-us .about-team .avatar-3{
    background-image: url('../img/team/team-member-3.jpg');
    background-position: center;
    background-size: cover;
}
.about-us .about-team .team-item .social{
    padding: 0 15px;
}
.about-us .about-team .team-item .social a{
    color:#bfbfbf;
}
.about-us .about-team .team-item .social a:hover{
    color: #1f89ba;
}

.testimonials{
    background-image: url('../img/testimonbg.jpg');
    background-position: center;
    background-size: cover;
    padding: 50px 0px;
    color: #fff;
}
.testimonials .testimonial-container{
    margin-bottom: 20px;
}
.testimonials .testimonial p{
    text-align: center;
    font-size:20px;
    font-family: 'Lato Light', sans-serif;

}
.testimonials .author{
    font-weight: bold;
    display: none;
    font-size:20px;
}
.testimonials .author.active{
    display: block;
}
.carousel .carousel-indicators,
.carousel .carousel-caption{
    position: relative;
    right: initial;
    left: initial;
    bottom:initial;
    margin: 0;
}
.carousel-indicators li{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
}
.testimonials .divider{
    margin: 0 5px;
    font-family: 'Lato Thin', sans-serif;
}

.functions .icon{
    width: 60px;
    height: 60px;
    color:#fff;
    position: relative;
    border-radius:50%;
    margin-bottom: 23px;
}
.functions .icon .fa{
    position: absolute;
    top: 29%;
    left: 28%;
    font-size:28px;
}
.functions .icon .fa-flash{
    left:40%;
}
.functions .icon .fa-cloud{
    left: 26%;
}
.functions .function-item{
    text-align: center;
}
.function-item .title{
    font-size:18px;
    font-family: 'Lato Heavy', sans-serif;
}
.function-item .description{
    font-size:16px;
    font-family: 'Lato Light', sans-serif;
    color:#7e7e7e;
}

footer{
    background: #2a2a2a;
    padding: 20px 0px;
}

.navbar-footer a{
    text-transform: uppercase;
    font-size:13px;
    color:#686868;
    padding: 10px 0px;
}
.navbar-footer a:hover{
    color:#fff;
    border-bottom:none;
}
.navbar-footer + hr{
    background-color:#686868;
    margin-bottom: 34px;
}
footer .footer-block{
    border-right:1px solid #686868;
    padding: 20px 56px 0px 56px;
    color:#686868;
    font-size:15px;
    font-family: 'Lato Light', sans-serif;
}
footer .footer-block:first-child{
    padding-right: 56px;
    padding-left: 0px;
}
footer .footer-block:last-child{
    border:none;
    padding-right: 0;
    padding-left: 56px;
}
footer .row{
    margin: 0;
}
footer .links ul{
    list-style-type: none;
    padding: 0;
}
.links li a{
    color:#686868;
}
.links li a:hover{
    text-decoration: none;
    color:#fff; 
}
.links li a .fa{
    margin-right: 5px;
}